
.form-wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: 0.5fr;
    grid-auto-rows: 35% 50%;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 110vh;
    background-image: url('../../assets/contacts.png');
    background-size: cover;

    h2 {
        color: var(--text-color);
        font-size: 1.5em;
    }

    .contacts-header {
        
    color: var(--text-color);
        
    }
    
}

.contact-form {
    width: 80%;
    margin: 0 auto;
    background:linear-gradient(var(--main-background-color));
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);

    .messageLabel {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        
        

        textarea {
            
            color: var(--text-color);
            margin: 1em auto;
            background-color: transparent;
            border-radius: 0%;
            border: 1px solid var(--text-color);
            display: flex;
            padding: 0.5em;

        }
    }

    button {
        border: 1px solid var(--text-color);
        border-radius: 0%;
        font-family: var(--text-style);
        text-transform: uppercase;
        background-color: transparent;
        color: var(--text-color);
        cursor: pointer;
    }

    input {
        color: var(--text-color);
        margin: 1em auto;
        background-color: transparent;
        border-radius: 0%;
        border: 1px solid var(--text-color);
        display: flex;
        padding: 0.5em;

    }
}


@media (max-width:534px) {
    .form-wrapper {
        height: 30vh;
    }
}