


.pros {
background-image: url('../../assets/back.png');
background-size: cover;
height: 110vh;
width: 100%;
display:flex;
flex-direction: column;
justify-content:space-around;

.pros__header {
    color: rgb(255, 243, 5);
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 5%;
}

.pros__pros-container__descr-pros__content {
overflow-y: scroll;
transition: 1s;
background: linear-gradient(#000000 35%, transparent);
display: flex;
flex-direction: column;
align-items: center;
width: 80%;
margin: 0 auto;
z-index: 200;
color: var(--text-color);
text-align: left;
font-size: 1em;

.pros__pros-container__descr-pros__content__header {
text-align: center;
margin-top: 10%;
margin-bottom: 10%;
}


p {
    
max-width: 70%;
margin: 2em auto;
    
}


.close-icon {
position: absolute;
left: 95%;

}

.close-bar {
cursor: pointer;
color: var(--text-color);
margin: 1em auto;
text-align: center;
}
}

.pros__pros-container {
margin-top: 10%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
height: 70%;
width: 95%;
margin: 0 auto;
align-items: center;



.pros__pros-container__item {
    height: 55%;
    display: flex;
    align-items: center;
    box-shadow: inset 5px 100px 150px #000,
                inset 5px -100px 150px #000
}

.pros__pros-container__descr-pros {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 0.6rem;
    text-align: center;
}

.pros__pros-container__descr-pros__header {
cursor: pointer;
width: 100%;
text-align: center;

}

}


.pros-container-item {
text-align: center;
position: relative;
height: 75%;
width: 28%;
display: flex;
flex-direction: column;
margin: 0 auto;



}




.img-div {
margin: 0 auto;
width: 95%;
height: 100%;
background-size: cover;
margin: 0 auto;

}

.pros__pros-container__descr-pros__content__wrapper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pros__pros-container__descr-pros__content__wrapper__items {
    list-style: none;
    letter-spacing: 0.1rem;
    color:var(--text-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 80%;
    height: 100%;
}

.pros__pros-container__descr-pros__content__wrapper__items__main-item li {
    color: white;
}

.pros__pros-container__descr-pros__content__wrapper__items li {
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media (width<=768px) {

    

    .pros__pros-container {
        height: fit-content;
        align-items: center;
        justify-content: center;
        display: grid;
        text-align: left;
        grid-template-columns: 95%;
        grid-template-rows: 250px 250px 250px;
        margin-bottom: 15%;
    }

    .pros__pros-container .pros__pros-container__item {
        height: 100%;
        box-shadow: inset 5px 50px 150px #000,
                    inset 5px -50px 150px #000 ;
    }

    .pros__header {margin-top: 10%; margin-bottom: 10%;}
}


@media (width<=420px)   {

    .pros .img-div {
        width: 25%;
    }

    .pros__pros-container {
        grid-template-columns: 90%;
        grid-auto-rows: 150px 150px 150px;
    }
    
    .pros__pros-container .pros-container-item .pros__pros-container__descr-pros .pros__pros-container__descr-pros__header {
        font-size: 1em;
        color: red;
    }

}
    .pros__pros-container__descr-pros__content {
        width: 95%;
    }

}





    

