@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");


:root {
    //dark theme
    --main-background-color: #e0e0e0;
    --secondary--background-color:rgb(227, 223, 223);
    --text-color--h2:#ffffff;
    --text-color:rgb(255, 243, 5);
    --text-style:'Quicksand', sans-serif;
    --color-back:#440e01;
    --gradient:linear-gradient(to right #e0e0e0 #fff );
    
    //light theme
    --main-background-color-light:linear-gradient(to right #e0e0e0 #fff);
    --text-color-light:#ffffff;
    --text-style-light:'Quicksand', sans-serif;
    --color-back-light:#ffffff;

}