@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");


:root {
    --main-background-color: radial-gradient(ellipse at center, #707979 0%,#000000 100%);
    --text-color:#c6bb9f;
    --text-style:'Quicksand', sans-serif;
    --color-back:#443501;

}