.nav-dark {
  box-sizing: border-box;
  border-radius: 10px;
  width: 50%;
  font-size: '2em';
  color: '#a78140';
  list-style: 'none';
  display: 'flex';
  justify-content:'space-around';
  align-items: center;
  box-shadow: 5px 4px 14px #ffffff;
  
  .nav-dark__items {
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    text-decoration: none;
    
  }
  
  .nav-dark__items__item__link {
    color:var(--text-color);
    text-decoration: none;
    font-weight: bold;
    }

  .nav-dark__items__item__link:hover {
    border-radius: 20px;
    padding: 5px;
    transition: 1s;
    border: transparent ;
    color:#000000;
    background: #fff;
  }
}



@media(width<=768px) {

  .nav-dark {
    padding-top: 0;
  }
  .nav-dark__items {
    display: flex;
    flex-direction: column;
  }
}


