.contacts {
width: 100%;
max-height: 25%;
display: flex;
justify-content: space-around;
background: #05051a;
/* background-image: url('../../assets/1.jpg');
background-size: cover; */

.contacts__items-wrapper {
max-height: 25%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: auto;
max-width: 50%;
border-bottom:1px solid var(--text-color) ;
border-top:1px solid var(--text-color) ;
padding: 20px;
margin: 20px;


.address-wrapper__items {
margin: 0;
padding: 0;
max-width: 100%;
display: flex;
flex-direction: column;
align-items: center;

.contacts__items-wrapper__header{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;

}

p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--text-color);
}
}
}

.links {
color: var(--text-color);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: auto;
max-width: 50%;
border-bottom:1px solid var(--text-color) ;
border-top:1px solid var(--text-color) ;
padding: 20px;
margin: 20px;

.links-inner-wrapper {
display: flex;
flex-direction: column;
align-items: left;

h2 {
text-align: center;
}
}

a {

text-transform: uppercase;
text-decoration: none;
color: var(--text-color);
text-align: left;
border-bottom: transparent;
margin: 1.5em auto 1.5em 0;
}

a:hover {
transition: 0.5s;
border-bottom: 1px solid var(--text-color);
}
}


}


/* Responsive design */
@media (width<=768px) {

.contacts__items-wrapper__header {
  text-align: center;
}

}

@media (width<=320px){

  .contacts {
    max-width: 100%;
    font-size: 0.5rem;
    .contacts__items-wrapper {
      display: none;
    }

    .contacts__items-wrapper__header {
      margin-bottom: 20px;
    }
  }


}
