
.swiper {
    height: 200px;
    width: 100%;
    background: red;
}


.highlight {
    height: 20%;
    background-color: #3C4853;
}

.slider-dark {
    height:100%;
    position:relative;
    margin-bottom: 5em;
    
    

    .left-arrow {

        position:absolute;
        top:50%;
        transform:translate(0, -50%);
        left:32px;
        font-size:3em;
        color:var(--text-color);
        z-index:1;
        cursor:pointer;
        opacity:0.8;
    }

    .right-arrow {
        position:absolute;
        top:50%;
        transform:translate(0, -50%);
        right:32px;
        font-size:3em;
        color:var(--text-color);
        z-index:1;
        cursor:pointer;
        opacity:0.8;
    }

    .dots-container {

        display: flex;
        justify-content: center;
    }

    .dot {

        color:var(--text-color);
        font-size:2em;
        margin:0 3px;
        cursor:pointer;
    }


}





@media (max-width: 534px) {
    .slider-dark { 

    width: 82%;
    margin: 0 auto;
    height: 69%;

    }

}